﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
<div class="ui-menu">
    <div class="ui-menu-item">
        @Html.ActionLink("Lista","Lista","Jogador")
        @Html.ActionLink("Novo","Cadastra","Jogador")
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
